* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 1px;

}

:root {
    --font-colour: rgb(76, 75, 75);
    --font-weight: 600;
}


.teslalogo {
    margin-top: -50px;
    height: 150px;
    width: 150px;
    margin-left: 50px;
}

.navbar {
    height: 120px;
    width: 100%;
    align-items: center;
    display: flex;
     position: fixed; 
    background-color: non;


}

.center-nav {
    height: 2rem;
    flex: 8;

}

.menu-list {
    display: flex;
    justify-content: center;
    padding: 10px;


}

.right-nav {
    flex: 3;
    display: flex;
    margin-top: -50px
}

.nav-list {
    margin: 0 0.5rem;
}

.nav-list>a {

    text-decoration: none;
    color: #fff;
    padding: 6px 7px;
    width: 2rem;
    font-size: 17px;
    font-stretch: expanded;
    letter-spacing: 1px;

}

.nav-list>a:hover {
    background-color: rgba(239, 232, 232, 0.935);
    border-radius: 9px;
}

.vcontainer {

    width: 100%;
    height: 100%;
}




.header-container-1 {
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: left;
    margin-top: -400px;

}

.buttons {
    display: flex;
    justify-content: left;
    padding-top: 30px;
}

.buttons a {
    margin: 10px;
    height: 40px;
    width: 15rem;
    border-radius: .5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model3-container {
    height: 700px;
    width: 100%;
}

.buttons-2 {
    font-size: 15px;
    background-color: rgb(59, 63, 67);
    font-weight: 600;
    color: #fff;

}

.buttons-1 {
    font-size: 15px;
    background-color: #fff;
    font-weight: 600;
    color: #000000;
}

.header-container {


    margin-top: -350px;
    margin-left: 50px;


}



.header {
    color: #fff;
}

.discription {
    color: #fff;

}

.dst {
    color: #fff;
    padding-top: 20px;
}

/* vedio bar end */
.second-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop");
    height: 120vh;
    background-size: cover;
    /* This makes the image cover the entire background */
    background-position: center;
}

.second-banner h1 {
    padding: 10rem;
}

.banner-heading {
    margin-left: 450px;
    margin-top: 18px;

}

.banner-discription {
    margin-top: -200px;
    margin-left: 200px;

}

.banner-one {

    margin-left: 200px;
    font-weight: lighter;
}

.buttons-3 {
    font-size: 15px;
    background-color: #fff;
    font-weight: 600;
    color: #000000;

}

.buttons-4 {
    font-size: 15px;
    background-color: rgb(59, 63, 67);

    font-weight: 600;
    color: #fff;
}

.buttons-two {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-top: 300px;
}

.buttons-two a {
    margin: 10px;
    height: 40px;
    width: 15rem;
    border-radius: .5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* first banner ends */
.third-banner {
    background-image: url("https://digitalassets-secure.tesla.com/image/upload/f_auto,q_auto/xufyfcvqhmq36szytod7.jpg");
    height: 120vh;
    background-size: cover;
    background-position: center;
}

.third-banner h1 {
    padding: 10rem;
}

.banner-heading {
    margin-left: 450px;
    margin-top: 18px;

}

.banner-discription {
    margin-top: -200px;
    margin-left: 200px;

}

.banner-one {

    margin-left: 200px;
    font-weight: lighter;

}

.bottom-p {
    text-align: center;
    padding-top: 30px;
}

.buttons-5 {
    font-size: 15px;
    background-color: #fff;
    font-weight: 600;
    color: #000000;

}


.buttons-4 {
    font-size: 15px;
    background-color: rgb(59, 63, 67);

    font-weight: 600;
    color: #fff;
}

.buttons-two {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-top: 300px;
}

.buttons-two a {
    margin: 10px;
    height: 40px;
    width: 15rem;
    border-radius: .5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD");
    height: 120vh;
    background-size: cover;

    background-position: center;
    margin-top: -20px;
}

.fourth-banner h1 {
    padding: 10rem;
}

.fifth-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-LHD-6.22.jpg");
    height: 100%;
    background-size: cover;

    background-position: center;
    margin-top: -20px;
}

.fifth-banner h1 {
    padding: 10rem;
}

.sixth-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg");
    height: 100%;
    background-size: cover;

    margin-top: -20px;

}

.sixth-banner h1 {
    padding: 10rem;
}

.seventh-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop");
    height: 100%;
    background-size: cover;

    background-position: center;
    color: #fff;
    margin-top: -20px;

}

.seventh-banner a {
    color: #fff;
    text-decoration: none;
}

.banner-one-6 {
    margin-top: -280px;
    margin-left: 180px;

}

.banner-one-s a {
    margin-left: 180px;


}

.banner-one-s {
    margin-top: -200px;

}

.eightth-banner h5 {
    margin-left: 150px;

}



.seventh-banner h1 {
    color: #fff;
}

.eightth-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global");
    height: 120vh;

    background-position: center;
    margin-top: -20px;
}

.eightth-banner h1 {
    padding: 10rem;
}

.eightth-banner h1 {
    align-items: center;
}

.ninth-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-01-Desktop.jpg");
    height: 120vh;
    background-size: cover;
    /* This makes the image cover the entire background */
    background-position: center;
    margin-top: -20px;
}

.ninth-banner h1 {
    padding: 10rem;
}

.banner-discription-1 {
    margin-left: 200px;
    margin-top: -280px;
}

.banner-heading-s {
    margin-left: 450px;
}


.banner-one-1 {
    /* margin-top: -200px; */
    margin-left: 180px;
    font-weight: lighter;
    margin-top: 50px;

}

.banner-one-2 {
    margin-left: 110px;
}

.banner-one-7 {
    margin-left: 120px;
}

.end-banner {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg");
    height: 120vh;
    /* background-size: cover;  */
    background-position: center;
    margin-top: -20px;
}

.end-banner h1 {
    padding: 10rem;
}

.bottom-p {
    color: #fff;

}